
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Century';
  background-color: #F9FAFB;
}

a:link {
  color: #5995DA;
  text-decoration: none;
}
a:visited {
  color: #407FC7;
}
a:hover,
a:visited:hover {
  color: #76AEED;
}
a:active,
a:visited:active: {
  color: #5995DA;
}


nav {
  overflow: hidden;
  padding: 5px;
  border-bottom: 2px solid #EAEDF0;
  background-color: #fff;
  
}

.nav_name {
  display: inline;
}

.nav_name_link {
  font-size: 32px;
  padding: 10px
}

.nav_links {
  float: right;
  font-size: 24px;
  padding-top: 8px;
  padding-right:10px;
}

.nav_link {
  padding: 10px;
}

.nav_link_current {
  padding: 10px;
  background-color: #dde9f7;
}

.page{
  background-color: #F9FAFB;
  background: linear-gradient(to top, #F9FAFB 0%, #FFFFFF 100%);
}

header {

  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 580px;
  
}

h1 {
  display: inline;
}

.content {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #EAEDF0;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  max-width: 700px;
}

h2 {
  display: inline;
  margin: 20px auto;
  text-align: center;
}

h3 {

}
