
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Century';
}

a:link {
  color: #5995DA;
  text-decoration: none;
}
a:visited {
  color: #407FC7;
}
a:hover,
a:visited:hover {
  color: #76AEED;
}
a:active,
a:visited:active: {
  color: #5995DA;
}


nav {
  overflow: hidden;
  padding: 5px;
  border-bottom: 1px solid;
}

.nav_name {
  display: inline;
}

.nav_name_link {
  font-size: 32px;
  padding: 10px
}

.nav_links {
  float: right;
  font-size: 24px;
  padding-top: 8px;
  padding-right:10px;
}

.nav_link {
  padding: 10px;
}

.nav_link_current {
  padding: 10px;
  background-color: #dde9f7;
}

header {
  background-color: #999;
  padding: 5px;
  text-align: center;
}

h1 {
  display: inline;
}

.content {
  margin: 8px;
}

h2 {
  display: inline;
  margin: 20px auto;
  text-align: center;
}

h3 {

}
